{{#allParams}}{{#isQueryParam}}{{>dateTimeParam}}{{>optionalDataType}} {{paramName}}{{/isQueryParam}}{{#isPathParam}}{{>dateTimeParam}}{{>optionalDataType}} {{paramName}}{{/isPathParam}}{{#isHeaderParam}}{{>dateTimeParam}}{{>optionalDataType}} {{paramName}}{{/isHeaderParam}}{{#isBodyParam}}{{{dataType}}} {{paramName}}{{/isBodyParam}}{{#isFormParam}}{{^isFile}}{{>dateTimeParam}}{{{dataType}}} {{paramName}}{{/isFile}}{{#isFile}}{{#isArray}}List<{{/isArray}}{{{dataType}}}{{#isArray}}>{{/isArray}} {{paramName}}{{/isFile}}{{/isFormParam}}{{#isCookieParam}}{{>dateTimeParam}}{{>optionalDataType}} {{paramName}}{{/isCookieParam}}{{^-last}}, {{/-last}}{{/allParams}}